[data-name=xaxis] { font-size: 0.8em }
[data-name=yaxis] { font-size: 0.8em }
.pdl-layout > div[data-type=layout]
  display: grid
  grid-template-columns: fit-content(2em) 1fr fit-content(10em)
  grid-template-rows: 1fr fit-content(1em)
  /* 0.5em for axis label at the boundary */
  padding: 0 0.5em
  & > .pdl-cell[data-name=legend]
    grid-column: 3
    grid-row: 1 / span 2
    padding-left: 1em

.pdl-layout.legend-bottom > div[data-type=layout]
  grid-template-columns: 2em 1fr
  grid-template-rows: 1fr fit-content(2em) fit-content(3em)
  .pdl-cell[data-name=legend]
    padding-top: 1em
    grid-column: 1 / span 2
    grid-row: 3

.pdl-layout.xaxis-center > div[data-type=layout]
  grid-template-columns: fit-content(2em) 1fr fit-content(10em)
  grid-template-rows: 1fr
  grid-template-areas: "r1c1 r1c2 r1c3"
  .pdl-cell[data-name=view] { grid-area: r1c2 }
  .pdl-cell[data-name=legend] { grid-area: r1c3 }
  .pdl-cell[data-name=yaxis] { grid-area: r1c1 }
  .pdl-cell[data-name=xaxis] { grid-area: r1c2 }

.pdl-layout.yaxis-center > div[data-type=layout]
  grid-template-columns: 1fr fit-content(10em)
  grid-template-rows: 1fr fit-content(3em)
  grid-template-areas: "r1c1 r1c2" "r2c1 r1c2"
  .pdl-cell[data-name=view] { grid-area: r1c1 }
  .pdl-cell[data-name=legend] { grid-area: r1c2 }
  .pdl-cell[data-name=yaxis] { grid-area: r1c1 }
  .pdl-cell[data-name=xaxis] { grid-area: r2c1 }

.pdl-layout.xaxis-center.legend-bottom > div[data-type=layout]
  grid-template-columns: fit-content(2em) 1fr
  grid-template-rows: 1fr fit-content(3em)
  grid-template-areas: "r1c1 r1c2" "r2c1 r2c2"
  .pdl-cell[data-name=view] { grid-area: r1c2 }
  .pdl-cell[data-name=legend] { grid-area: r2c2 }
  .pdl-cell[data-name=yaxis] { grid-area: r1c1 }
  .pdl-cell[data-name=xaxis] { grid-area: r1c2 }

.pdl-layout.yaxis-center.legend-bottom > div[data-type=layout]
  grid-template-columns: 1fr
  grid-template-rows: 1fr fit-content(2em) fit-content(3em)
  grid-template-areas: "r1c1" "r2c1" "r3c1"
  .pdl-cell[data-name=view] { grid-area: r1c1 }
  .pdl-cell[data-name=legend] { grid-area: r3c1 }
  .pdl-cell[data-name=yaxis] { grid-area: r1c1 }
  .pdl-cell[data-name=xaxis] { grid-area: r2c1 }

.pdl-layout.xaxis-center.yaxis-center > div[data-type=layout]
  grid-template-columns: 1fr fit-content(10em)
  grid-template-rows: 1fr
  grid-template-areas: "r1c1 r1c2"
  .pdl-cell[data-name=view] { grid-area: r1c1 }
  .pdl-cell[data-name=legend] { grid-area: r1c2 }
  .pdl-cell[data-name=yaxis] { grid-area: r1c1 }
  .pdl-cell[data-name=xaxis] { grid-area: r1c1 }

.pdl-layout.xaxis-center.yaxis-center.legend-bottom > div[data-type=layout]
  grid-template-columns: 1fr
  grid-template-rows: 1fr fit-content(3em)
  grid-template-areas: "r1c1" "r2c1"
  .pdl-cell[data-name=view] { grid-area: r1c1 }
  .pdl-cell[data-name=legend] { grid-area: r2c1 }
  .pdl-cell[data-name=yaxis] { grid-area: r1c1 }
  .pdl-cell[data-name=xaxis] { grid-area: r1c1 }

.pdl-layout.xaxis-center .pdl-cell[data-name=xaxis]
  position: absolute
  inset: 0
  margin: auto
  height: fit-content

.pdl-layout.yaxis-center .pdl-cell[data-name=yaxis]
  position: absolute
  inset: 0
  margin: auto
  width: fit-content
