div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    include:lsc scale-pr.ls
    include:lsc index.ls
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
        .pdl-cell(data-name="yaxis") &nbsp;
        .pdl-cell(data-name="view")
        .pdl-cell
        .pdl-cell(data-name="xaxis") &nbsp;
        .pdl-cell(data-name="legend") &nbsp;
      div(data-type="render")

